
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Annotated [TITLE]</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    [HEAD]
</head>
<body>
<nav>
    <ul class="side-toc">
        [TOC]
    </ul>
</nav>
<main id="main">
    [CHAPTERLINKS]
    <h1>[TITLE]</h1>
    [FIRST_NOTE_LINK]
    <div id="collapse-link"><a href="#" onclick="toggle_collapsed()" id="collapse-link-text">[&minus;] show only annotated paragraphs</a></div>
