
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Annotated Harry Potter and the Methods of Rationality</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="index">
<main>
    <h1>An Annotated Version of <br> <em>Harry Potter and the Methods of Rationality</em></h1>
    <p>
        Half the fun of reading <a href="http://yudkowsky.net/">Eliezer Yudkowsky</a>'s Harry Potter fanfic 
        <a href="http://www.hpmor.com/"><em>Harry Potter and the Methods of Rationality</em></a> (HPMOR)
        is following the online discussion on various forums, featuring speculation
        from the time when HPMOR was written (2010&ndash;15), and analysis since then. 
        The book is full of hints, foreshadowing, clever ideas, and references, that may escape the reader even on repeated read-throughs. 
        This page attempts to collect insightful comments from <a href="https://www.reddit.com/r/HPMOR/">/r/hpmor</a> to produce an annotated version of HPMOR.
    </p>
    <div id="warning">
        <div id="warning-sign">&#9888;</div>
        <p><strong>Spoilers!</strong>
        Everything on this page contains major spoilers. 
        This annotated version is intended for those who have read the complete story.
        If you are new to HPMOR, or have not yet read to Chapter 122,
        go to <a href="http://www.hpmor.com/">http://www.hpmor.com/</a>.
        </p>
    </div>
    <p>
        <small>Currently, hpmor.info contains [TOTAL] notes.</small>
    </p>
    <!-- <p>
     Comment format:
     <code>
      [Paragraph number] [permalink to /r/HPMOR comment] (quote-only) (hide-quotes) (include-children) (WOG)
     </code>
    </p> -->
    [TOC]
    <!-- <a href="full.html">The whole book on one page</a> [9MB, slow!] -->
    <hr>
    <p id="page-info">Compiled by <a href="https://dominik-peters.de">Dominik Peters</a>. Last updated: [DATE].</p>
</main>
</body>
</html>
