
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Annotated Harry Potter and the Methods of Rationality</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="index">
<main>
    <h1>An Annotated Version of <br> <em>Harry Potter and the Methods of Rationality</em></h1>
    <p>
        Half the fun of reading <a href="http://yudkowsky.net/">Eliezer Yudkowsky</a>'s Harry Potter fanfic 
        <a href="http://www.hpmor.com/"><em>Harry Potter and the Methods of Rationality</em></a> (HPMOR)
        is following the online discussion on various forums, featuring speculation
        from the time when HPMOR was written (2010&ndash;15), and analysis since then. 
        The book is full of hints, foreshadowing, clever ideas, and references, that may escape the reader even on repeated read-throughs. 
        This page attempts to collect insightful comments from <a href="https://www.reddit.com/r/HPMOR/">/r/hpmor</a> to produce an annotated version of HPMOR.
    </p>
    <p>
        <strong>Contributions are welcome!</strong> 
        If you have an idea for a note that could be added, please follow the instructions in the 
        <a href="https://github.com/DominikPeters/hpmor.info">GitHub repository</a>. That's also 
        the place to leave any feedback or bug reports using the issue tracker.
    </p>
    <div id="warning">
        <div id="warning-sign">&#9888;</div>
        <p><strong>Spoilers!</strong>
        Everything on this page contains major spoilers. 
        This annotated version is intended for those who have read the complete story.
        If you are new to HPMOR, or have not yet read to Chapter 122,
        go to <a href="http://www.hpmor.com/">http://www.hpmor.com/</a>.
        </p>
    </div>
    <p>
        <small>Currently, hpmor.info contains [TOTAL] notes.</small>
    </p>
    [TOC]
    <!-- <a href="full.html">The whole book on one page</a> [9MB, slow!] -->
    <hr>
    <p id="page-info">
        Compiled by <a href="https://dominik-peters.de">Dominik Peters</a>. 
        Last updated: [DATE].
        <a href="https://github.com/DominikPeters/hpmor.info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" style="margin-bottom: -2px">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg></a>
        <a href="https://github.com/DominikPeters/hpmor.info">View on GitHub</a>
    </p>
    <a href="https://github.com/DominikPeters/hpmor.info" style="position: absolute; top: 4px; right: 4px;"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
    </svg></a>
</main>
</body>
</html>
